<html xmlns:th="http://www.thymeleaf.org">
 <head>
   <meta charset="UTF-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>존재하지 않는 페이지 입니다.</title>
   <link rel="stylesheet" type="text/css" href="/css/base/main.css" />
 </head>
 <div class="errorback">
   <div class="errorbackWrap">
	   <div class="errorBox" style="text-align: center;">
	     <p class="erroricon"><img src="/img/error.png" alt="에러아이콘"></p>
		 <p class="errormessage">존재하지 않는 페이지입니다.</p>
		 <button type="button" class="errorBtn op" onclick="javascript:history.back();">이전페이지</button>
	   </div>
   </div>
 </div>
</html>