<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="apple-touch-icon" href="/img/star2.png" />
<link rel="shortcut icon" href="/img/star1.png" />

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans" />
<link rel="stylesheet" href="/css/plugins/waitMe.min.css">
<link rel="stylesheet" href="/js/lib/fstdropdown/fstdropdown.min.css">

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/lib/plugins/chartjs.min.js"></script>
<script src="/js/lib/plugins/bootstrap-notify.js"></script>
<script src="/js/lib/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/js/lib/jquery.modal.min.js"></script>
<script src="/js/lib/plugins/waitme/waitMe.min.js"></script>
<script src="/js/common/utils.js"></script>
<script src="/js/lib/fstdropdown/fstdropdown.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
<script src="/js/lib/fullcalendar/index.global.min.js"></script>

