<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:replace="/common/include"></object>
    <title>MMS 관리자</title>
    <link href="/css/demo.css" rel="stylesheet"/>
    <style>
        .user-item {
            cursor: pointer;
        }
        .checkboxTitle {
            font-size: 18px;
            padding: 8px 10px 4px 10px !important;
        }
        .checkboxTitle input {
            margin-right: 10px;
        }
        .card .avatar {
            margin-bottom: 0 !important;
        }
    </style>
</head>

<body class="">
<div class="wrapper ">

    <div th:replace="/include/slidebar"></div>

    <div class="main-panel">

        <div th:replace="/include/navbar"></div>

        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-user">

                        <div class="card-body">
                            <form method="post" action="/attend/list">

                                <div class="row" sec:authorize="hasAnyRole('ROLE_SUPREME')">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>교회</label>
                                            <select name="code" class="form-control form-select" id="code" aria-label="교회선택">
                                                <option value="">교회선택</option>
                                                <option value="S0001" th:each="list:${codeList}" th:value="${list.code}" th:text="${list.name}" th:selected="${list.code eq code}">새벽별교회</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>날짜선택</label>
                                            <input type="date" name="attendDate" class="form-control" th:value="${attendDate}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row attend-type-div" th:style="${dayOfWeek eq 3 ? 'display:block;' : 'display:none;'}">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>예배선택</label>
                                            <div class="form-control checkboxTitle">
                                               <label class="form-check-inline checkbox-inline"><input type="radio" name="attendType" value="dawn" th:checked="${attendType eq 'dawn'}"> 새벽예배</label>
                                               <label class="form-check-inline checkbox-inline"><input type="radio" name="attendType" value="wednesday" th:checked="${attendType eq 'wednesday'}"> 수요예배</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary">검색</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title d-inline" th:text="|${attendDate} ${attendType eq 'dawn' ? '새벽예배' : (attendType eq 'wednesday' ? '수요예배' : '일요예배')} 출석현황|"> 출석현황</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>부서</th>
                                    <th>총원</th>
                                    <th>출석인원</th>
                                    <th>출석률</th>
                                    </thead>
                                    <tbody>
                                    <tr class="attend-item" th:each="list:${attendList}" th:attr="data-department=${list.departmentSeqNo}">
                                        <td th:text="${list.department.name}">은하수</td>
                                        <td th:text="${#numbers.formatInteger(list.count, 0, 'COMMA')}">100</td>
                                        <td th:text="${#numbers.formatInteger(list.attendCount, 0, 'COMMA')}"></td>
                                        <td th:text="|${list.attendRate}%|"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer th:replace="/include/footer"></footer>

    </div>
</div>

<script src="/js/attend_list.js"></script>
</body>

</html>