<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul class="list-unstyled">
    <li class="counseling-li" th:each="list:${page.content}">
        <div class="row">
            <div class="col-md-7 col-7 list-title counseling-title" th:attr="data-seq=${list.seqNo}" th:text="${list.title}">
                제목
            </div>
            <div class="col-md-5 col-5 text-right list-div-button" th:inline="text">
                [[${#dates.format(list.regDate, 'yyyy.MM.dd')}]]
                <span class="delete-counseling" th:attr="data-seq=${list.seqNo}">삭제</span>
            </div>
        </div>
    </li>

</ul>

<div th:replace="/include/pagenation2"></div>